# --- Odoo / Postgres runtime data (DO NOT COMMIT) ---
postgres_data/
odoo_data/
# data/odoo-data/

# Odoo / Python caches
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd

# Local tooling
.history/
.vscode/

# Don't commit local Odoo config
config/odoo.conf

# Ignore YAML files (docker-compose, other local ymls)
*.yml
*.yaml

# OS
Thumbs.db
.DS_Store
