# --- Odoo / Postgres runtime data (DO NOT COMMIT) ---
postgres_data/
odoo_data/
# data/odoo-data/

# Odoo / Python caches
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd

# Local tooling
.history/
.vscode/

# OS
Thumbs.db
.DS_Store
