.o_smile_loading { pointer-events: none; opacity: 0.65; }
.o_smile_spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border: 0.12em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: o_smile_spin .75s linear infinite;
  animation: o_smile_spin .75s linear infinite;
}
@-webkit-keyframes o_smile_spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes o_smile_spin { 100% { transform: rotate(360deg); } }
